* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin-top: 3.625rem;
}

.logo {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  padding-left: 24px;
}

.logo > a {
  text-decoration: none;
  color: #6070ff;
}

.bars {
  color: #6070ff;
  font-weight: 500;
  font-size: 1.5rem;
}

.mx-container {
  display: flex;
  flex-direction: column;
  margin-top: 8.625rem;
  margin-left: 1.5rem;
}

.hero-name {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
}

.hero-msg {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
}

.hero-minor-text {
  padding-top: 0.75rem;
  color: #344563;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
}

.text-connect {
  text-decoration: none;
  margin-top: 0.75rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
}

.icons-hero {
  list-style-type: none;
  color: #505f79;
  font-size: 0.8rem;
  margin-top: 0.75rem;
}

.icons-hero > li {
  text-decoration: none;
  display: inline;
}

.icons-hero > li > img {
  padding-right: 0.8rem;
}

.card-container {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  grid-template-rows: 100%;
  margin-top: 1rem;
  margin-top: 3.625rem;
}

.card-wrapper {
  grid-area: 1/2/1/2;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid #dfe1e6;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card-image {
  width: 100%;
}

.card-image > li > img {
  object-fit: cover;
  width: 100%;
}

.card-text {
  margin-top: 0.75rem;
  color: #172b4d;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
}

.card-text-container {
  margin-top: 1rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 600;
}

.card-tagline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-canopy {
  color: #344563;
}

.card-job {
  color: #7a869a;
}

.card-dot {
  margin: 0.75rem;
}

.card-desc {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-top: 1.25rem;
  color: #344563;
}

.languages {
  list-style-type: none;
  margin-top: 0.75rem;
}

.languages > li {
  display: inline-block;
  color: #6070ff;
  padding: 0.2rem 0.75rem;
  background-color: #ebebff;
  border-radius: 0.5rem;
  font-weight: 500;
}

.see-link {
  border: 1px solid #6070ff;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  margin-top: 1rem;
  background-color: #fff;
}

.see-link:hover {
  background-color: #6070ff;
  color: #fff;
}

.see-link > a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #396df2;
}

.see-link > a:hover {
  color: white;
}

aside {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.lang-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 2rem;
}

.lang-container {
  margin: 1rem 1.25rem;
  border-radius: 1rem;
  padding-left: 2.3rem;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #253858;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
}

.lang-text {
  padding-left: 1rem;
}

hr {
  color: #dfe1e6;
}

@media only screen and (min-width: 375px) and (max-width: 420px) and (orientation: portrait) {
  body {
    background-image: url("../img/header-shapes\ mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0 0 0;
  }
}

@media only screen and (min-width: 375px) and (max-width: 420px) and (orientation: portrait) {
  body {
    background-image: url("../img/header-shapes\ mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0 0 0;
  }
}

@media (min-width: 421px) {
  .top-bars {
    display: none;
  }

  .nav-container {
    border:1px solid blue;
    display: flex;
    flex-grow: 1;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
}
